@page "/games"
@layout PageLayout



<h1>Spelletjes</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet varius lorem non volutpat. In magna enim, convallis id semper et, com
    modo vel lorem. Integer nec fermentum felis. Sed aliquet, purus nec tristique accumsan, ipsum massa interdum mauris, vel bibendum purus risus vel ante. Quisque
    magna purus, imperdiet in lacinia faucibus, ultrices ut ante. Mauris viverra hendrerit sem ac vestibulum. Pellentesque vulputate ullamcorper nibh, quis vestibul
    um erat placerat a. Aenean ac volutpat felis, vitae tincidunt eros. Mauris sit amet sodales tellus. Fusce ac tincidunt ex.

    In quis euismod ligula. Pellentesque fermentum justo volutpat,
</p>

<hr />

<div class="games">
    <div class="game">
        <h2>Title</h2>
        <img src="/images/game-icon.png" />
        <h3>Zorg dat de ballon niet popt!</h3>
        <a href="game">Play</a>
    </div>
    <div class="game">
        <h2>Title</h2>
        <img src="/images/game-icon.png" />
        <h3>Description</h3>
        <button>Play</button>
    </div>
    <div class="game">
        <h2>Title</h2>
        <img src="/images/game-icon.png" />
        <h3>Description</h3>
        <button>Play</button>
    </div>
    <div class="game">
        <h2>Title</h2>
        <img src="/images/game-icon.png" />
        <h3>Description</h3>
        <button>Play</button>
    </div>
    <div class="game">
        <h2>Title</h2>
        <img src="/images/game-icon.png" />
        <h3>Description</h3>
        <button>Play</button>
    </div>
    <div class="game">
        <h2>Title</h2>
        <img src="/images/game-icon.png" />
        <h3>Description</h3>
        <button>Play</button>
    </div>
</div>