@page "/game"
@layout PageLayout


<div class="gameInfo">
    <h1>Ballooon!</h1>
    <p>Hou de ballon om hoog door te roepen.<br /> Zorg dat het niet valt naar beneden.</p>
</div>

<hr />

<div class="gameWindow">
    <div class="temporaryGame">
        <img src="/images/balloon.jpg" />
    </div>
    <ul>
        <li>Decibel level: xx</li>
        <li>Personal High Score: xx</li>
        <li>Game Difficulty: xx</li>
    </ul>
</div>