@page "/"
@inject IJSRuntime JSRunTime;

<h1>Information</h1>

<p>Record Audio</p>

<button>Find Audio Devices</button>

<div class="meter">
    <button @onclick="findDevices">Start</button>
    <div class="bar">

    </div>
</div>

@code {
    public int count = 0;

    public void Increment()
    {
        count += 1;
    }

    public String level = "";

    string devices = "";

    public async Task findDevices()
    {
        devices = "" + new(await JSRunTime.InvokeAsync("findDevices"));
    }

}