@page "/personal"
@layout PageLayout

<h1>Persoonlijke pagina</h1>
<h2>Bekijk de progressie van elk persoon.</h2>

<hr />

<div class="profileOwner">
    <h2>Profiel</h2>
    <ul>
        <li>Naam: xxxx  xxxxxxx</li>
        <li>geboortedatum: xx/xx/xxxx</li>
        <li>etc.</li>
    </ul>
    <div>
        <img src="/images/child.png" />
    </div>
</div>


<div class="games">
    <div class="game">
        <h2>Naam</h2>
        <img src="/images/game-icon.png" />
        <h3></h3>
        <button>Bekijk</button>
    </div>
    <div class="game">
        <h2>Naam</h2>
        <img src="/images/game-icon.png" />
        <h3></h3>
        <button>Bekijk</button>
    </div>
    <div class="game">
        <h2>Naam</h2>
        <img src="/images/game-icon.png" />
        <h3></h3>
        <button>Bekijk</button>
    </div>
    <div class="game">
        <h2>Naam</h2>
        <img src="/images/game-icon.png" />
        <h3></h3>
        <button>Bekijk</button>
    </div>
    <div class="game">
        <h2>Naam</h2>
        <img src="/images/game-icon.png" />
        <h3></h3>
        <button>Bekijk</button>
    </div>
    <div class="game">
        <h2>Naam</h2>
        <img src="/images/game-icon.png" />
        <h3></h3>
        <button>Bekijk</button>
    </div>
</div>